@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,300");

@charset "UTF-8";


/*
   ESTILOS DE LOS ÍCONOS DE LA PÁGINA 
******************************************************************************************************************
******************************************************************************************************************
*/

/*
Configuración por defecto de los todos los íconos
------------------------------------------------------
*/
.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


/*
Ícono del Logo cabecera
------------------------------------------------------
*/
.icon-m{
  width: 72px;
  height: 72px;
  vertical-align: middle;
  font-family: "STHeitiTC-Medium", "Heiti TC", "Open Sans";
}


/*
Ícono porcentaje sección general
------------------------------------------------------
*/
.icon-score{
  border: 1px solid;
  width: 68px;
  height: 68px;
}


/*
Ícono estrella de puntuación sección ítems relacionados
--------------------------------------------------------
*/
.icon-star{
  width: 14px;
  height: 14px;
  margin-left: .5rem;
}


/*
Íconos de Redes Sociales
------------------------------------------------------
*/
.icon-youtube, .icon-instagram, .icon-pinterest, .icon-twitter, .icon-facebook{
  width: 61px;
  height: 61px;
  vertical-align: middle;
}




/*
   ESTILOS PROPIOS DE LA PÁGINA
******************************************************************************************************************
******************************************************************************************************************
*/


/*
Cuerpo de la página
-------------------------------------------------------------------------------------------------------------------------
*/

body, html{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue";
  font-variant: normal;
  background: #F4F4F4;
  font-size: 16px;
}

.wrapper{
  max-width: 960px;
  margin: auto;
}

.display-inline{
  display: inline-block;
}

a{
  text-decoration: none;
}

/*
Cabecera de la página (header)
-------------------------------------------------------------------------------------------------------------------------
*/

.header{
  width: 100%;
  padding: 1.5em 0;
  background: #081C24;
}

.header__slogan{
  color: #FFF;
  font-size: .9rem;
  margin-left: 1.2rem;
  align-self: center;
}

.header__logo-section{
  display: flex;
}


/*
Contenido general (general)
-------------------------------------------------------------------------------------------------------------------------
*/

.general--container{
  background: linear-gradient(#6FA29C, #697977);
  color: #FFF;
}

.general{
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
}

.general__title{
  font-weight: 100;
  font-size: 2.2rem;
  margin-top: 0;
}

.general__description{
  margin: auto;
  font-size: .95rem;
  margin-bottom: 2rem
}

.general__wrapper-img{
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 198%;
  margin-right: 1.2em;
}

.general__img{
  vertical-align: middle; /*Un buen truco para eliminar el espacio que generan las imágenes*/
  width: 100%;
}

.general__content{
}

.general__score {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 1.4em;
  background-color: #535D65;
  line-height: 4.5rem;
  text-align: center;
  border-radius: 100%;
}

.general__score-text{
  width: 3rem;
  vertical-align: middle;
  line-height: 1.2rem;
  padding-bottom: .8rem;
  font-size: 1.05rem;
}

.general__subtitles{
  font-size: 1rem;
}

.general__description--small{
  font-size: .7rem;
}



/*
Sección de Elenco Principal (cast)
-------------------------------------------------------------------------------------------------------------------------
*/

.cast{
  margin-bottom: 6em;  
}

.cast__content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cast__people{
  width: 15%;
}

.cast__photo{
  width: 100%;
  padding: 6.2em 0;
  background: #9EB0B9;
  border-radius: 2px 2px 0 0;
}

.cast__names{
  height: 70px;
  display: flex;
  align-items: center;
  padding: 3px 14px 8px;
  background: #FFF;
  font-size: .85rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.04);
  border-radius: 2px;
  font-weight: 100;
}

.cast__title{
  margin: 2em 0 1.5em;
}



/*
Sección de Datos (data)
-------------------------------------------------------------------------------------------------------------------------
*/

.data{
  margin-bottom: 3rem;
}

.data__table{
  width: 100%;
  margin-bottom: 3rem;
  font-size: .8rem;
}

.data__subtitles, .wrapper__title{
  margin-bottom: .95em;
}

.data__font-decoration{
  padding: .3rem .85rem;
  background: #50E3C2;
  border-radius: 5rem;
  font-size: .8rem;
}

.data__genero-keyword{
  display: block;
  margin-bottom: 1.8em;
}

.data__title{
  margin-bottom: 1.5em;
}

.cast__title, .data__title{
  font-size: 1.3rem;
}

.data__table th{
  text-align: left;
  font-weight: bolder;
}


/*
Sección de artículos relacionados
-------------------------------------------------------------------------------------------------------------------------
*/

.related-items{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.related-items__article{
  width: 49%;
  display: flex;
}

.related-items__image{
  width: 40%;
  padding: 151px 0;
  background: #34606F;
  border-radius: 2px 0 0 2px;
}

.related-items__image--background {
  background: #9E90A5;
}

.related-items__description{
  width: 60%;
  font-size: .9rem;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.04);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.related-items--small-font{
  font-size: .8rem;
}

.related-items__content {
  padding: 0 1.7em;
  position: relative;
}

.related-items__link{
  color: #000; 
}

.related-items__link-div{
  border-top: 1px solid #EFEFEF;
  display: flex;
  align-items: center;
  padding: 1.1rem 0;
}

.related-items__star-div{
  position: absolute;
  right: 11%;
  top: 10%;
}


/*
Sección de anuncios
-------------------------------------------------------------------------------------------------------------------------
*/

.adds{
  margin-top: 0;
  padding: 2em 0px 3.5em;
}

.adds__title{
  font-size: .9rem;
}

.adds-wrapper{
  width: 100%;
  padding:  3.34em 0;
  background: #000;
}



/*
Pie de página (footer)
-------------------------------------------------------------------------------------------------------------------------
*/
.footer{
  width: 100%;
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-media{
  padding-top: 3.8em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
}

.footer__media-item{
  margin-right: .3em;
}

.footer__media-item--nomargin{
  margin-right: 0;
}

.footer--light-color{
  background: #535D65;
}

.footer--dark-color{
  background: #4C5358;
}

.footer__contact{
  padding: 1.5em 0 2em;
}

.footer__terms{
  padding-bottom: 1.5em;
}

.footer__media-list{
  display: flex;
  justify-content: center;
}

.follow{
  color: #FFF;
  margin-right: 1.5em;
  align-self: center;
}

.footer__contact, .footer__terms{
  text-align: center;
}

.footer__contact-item a{
  color: #FFF;
  font-size: .8rem;
}

.footer__terms-item a{
  font-size: .7rem;
  color: #FFF;
}

.footer__terms-item a:hover, .footer__contact-item a:hover{
  text-decoration: underline;
}

.separator{
  color: #FFF;
  font-size: .8rem;
}

/*
   MEDIA QUERIES
******************************************************************************************************************
******************************************************************************************************************
*/



@media only screen and (max-width: 1023px) {
    .wrapper, .header__logo-section{
      width: 95%;
      margin: 0 auto;
    }

    .item-margin{
      margin-bottom: 1em;
    }

    .data__table tr, .data__table th{
      vertical-align: top;
    }

    .wrapper.cast{
      margin-bottom: 4em;
    }

    .wrapper.data{
      margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    
    .cast__people{
      width: 32.3%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 872px) {
  
  .related-items__article{
    width: 49%;
    display: flex;
    flex-wrap: wrap;
  }

  .related-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .related-items__p{
    margin-bottom: 2em;
  }
}


@media only screen and (max-width: 882px) {


  .related-items__image{
    width: 100%;
  }

  .related-items__description{
    width: 100%;
  }

}

@media only screen and (max-width: 480px) {

  .general{
    flex-wrap: wrap;
  }

  .general__wrapper-img{
    margin-right: 0;
  }

  .general__content{
    width: 100%;
  }

  .general__img{
    width: 100%;
  }

  .cast__people{
      width: 100%;
  }

  .margin{
    margin-bottom: 1.3em;
  }
  
  .icon-m{
    margin-right: 2rem;
  }

  .data__table{
    font-weight: 700;
    font-size: .5rem;
  }

  .icon-youtube, .icon-instagram, .icon-pinterest, .icon-twitter, .icon-facebook{
    width: 50px;
    height: 50px;
  }

  .related-items__p, .related-items__link{
    font-size: .75rem;
  }

  .general__title{
    margin-top: .6em;
  }

  .general__description{
    font-size: .85rem;
  }

  .footer__terms-item a{
    font-size: .6rem;
  }

  .header__slogan{
    margin-left: .98rem;
  }

  .icon-m{
    margin-right: 0;
  }

  .related-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .related-items__article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .related-items__p{
    margin-bottom: 2em;
  }
}


@media only screen and (max-width: 475px) {
  .follow{
    margin-right: 0;
  }

  .footer__social-media ul{
    margin: 0;
    margin-top: .8em;
  }

  .footer__social-media{
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    flex-direction: column;
  }
}

@media only screen and (max-width: 345px) {
  .data__table{
    font-size: .3rem;
  }
}